/* Color Scheme:
#083D77 - blue
#EBEBD3 - eggshell
#DA4167 - pink
#F4D35E - yellow
#F78764 - salmon
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #083D77;
  font-family: 'Krub', sans-serif;
  height: 100vh;
}

blockquote {
  font-size: 1.5em;
}

button, a {
  background-color: #F78764;
  color: #EBEBD3;
  font-family: 'Krub', sans-serif;
  font-size: 1em;
  padding: 2%;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  border: 1px solid #EBEBD3;
}

a {
  text-decoration:none;
  text-align: center;
}

button:hover, a:hover {
  background-color: #EBEBD3;
  color: #F78764;
  text-decoration: none;
}

.container {
  width: 50%;
  height: 50vh;
  margin: 25vh auto;
}

.quote {
  background-color: #DA4167;
  color: #EBEBD3;
  font-size: 1.25em;
  display: block;
  margin-bottom: 5%;
  padding: 4%;
  border-radius: 1px;
  text-align: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
